body {
    background-image: url(https://pa1.narvii.com/6219/19d47775afe77f5372bacd14fe4b9730e4dac70c_hq.gif);
    background-size: 15% 50%;
    background-repeat: round round;

}
h1 {
    margin-top: 48px;
    color: black;
    font-size: 50px;
    
}